.ibm-plex-sans {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

html {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #F0EEFF;
}

/* Calculator */
#calculator {
    display: flex;
    justify-content: center;
}

fieldset {
    margin: 1em 0;
    padding: 1em 2em;
    border: solid 1px #2E1B46;
    border-radius: 10px;
    min-width: 200px;
}

legend {
    font-size: 36px;
    font-weight: 600;
    padding: 0 .25em;
    color: #2E1B46;
}

#result-box {
    border: 2px solid #2E1B46;
    max-width: 250px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2E1B46;
    box-shadow: 5px 5px black;
    color: white;
}